/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    GENERAL
*/
.my-carousel {
    width: 800px;


}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-carousel .img-container {
    height: 500px;

}

.my-carousel .img-container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.my-carousel .img-container>img.active {
    display: block;
}

.my-carousel .btn-container {
    height: 80px;
    display: flex;
}

.btn-container>button {
    width: 50%;
}